/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: rgba(1, 130, 250, 0.5);
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    overflow: hidden;
    z-index: 1;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
    text-shadow: 4px 4px 4px blue;
}

#home::before{ 
    content: "";
    position: absolute;
    background: url('./The-Christ-Church-Shimla.png') no-repeat center center/cover;
    height: 600px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.99;
}

#home h1{
    color: white;
    font-size: 6rem;
    text-align: center;
    font-family: 'Bree Serif', serif;
    text-shadow: 8px 8px 10px blue;
}

#home p{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
/* Services Section */
#services-container{
    background-image: linear-gradient(45deg, rgba(181, 190, 42, 0.5), rgba(80, 15, 15, 0.5));
}
#services{
    margin: 34px;
    display: flex;
    
}
#services .box{ 
    border: 2px solid brown;
    padding: 5px;
    margin: 2px 5px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

#services .box img{ 
   height: 160px;
   margin: auto;
   display: block;
   border: 2px solid white;
   border-radius: 20px;
}

#services .box p{
    font-family: 'Bree Serif', serif;

} 

/* Clients Section */
#client-section{ 
    position: relative;
}

#client-section::before{
 content: "";
 position: absolute;
 background: url('./the-ridge-shimla-tourism-entry-fee-timings-holidays-reviews-header.jpg') no-repeat center center/cover;
 width: 100%;
 height: 100%;
 z-index: -1;
 opacity: 1;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 34px;
}

#clients img{
    height: 30px;
}


/* Contact Section */
#contact{
    position: relative;
   
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.95;
    background: url('./the-ridge-shimla-tourism-entry-fee-timings-holidays-reviews-header.jpg') no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    transition: .5s;
    width: 50%;
    margin: auto;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}


footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
    color: white;
    text-shadow: 8px 8px 10px blue;
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 4px solid blue;
    background-color: rgb(83, 83, 231);
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
    color: #fff;
    
}

.btn a{
    color: white;
    text-decoration: none;
}

.btn :hover {
    background-color: aqua;
    color: red;
}

.center{
    text-align: center;
}

#home .city p {
    font-size: 1.9rem;
    color: aquamarine;
}


/* Styling section, giving background
image and dimensions */
#cityn {
   width: 100%;
    height: 800px;
    background:
        url('./88713922.webp');
    background-size: cover;
    
}
    
/* Styling the left floating section */
#cityn .leftBox {
    width: 50%;
    height: 100%;
    float: left;
    padding: 50px;
    box-sizing: border-box;
    overflow: hidden;
}
    
/* Styling the background of
    left floating section */
#cityn .leftBox .content {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    transition: .5s;
}
    
/* Styling the hover effect
    of left floating section */
#cityn .leftBox .content:hover {
    background: blue;
}
    
/* Styling the header of left
    floating section */
#cityn .leftBox .content h1 {
    margin: 0;
    padding: 0;
    font-size: 50px;
    text-transform: uppercase;
}
    
/* Styling the paragraph of
    left floating section */
#cityn .leftBox .content p {
    margin: 10px 0 0;
    padding: 0;
}
    
/* Styling the three events section */
#cityn .events {
    position: relative;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    float: right;
    box-sizing: border-box;
}
    
/* Styling the links of
the events section */
#cityn .events ul {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 40px;
    box-sizing: border-box;
    overflow: hidden;
}
    
/* Styling the lists of the event section */
#cityn .events ul li {
    list-style: none;
    background: #fff;
    box-sizing: border-box;
    height: 220px;
    margin: 15px 0;
    overflow: hidden;
}    
    
/* Styling the time class of events section */
#cityn .events ul li .time {
    position: relative;
    padding: 20px;
    background: #262626;
    box-sizing: border-box;
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
    transition: .5s;
}
    
/* Styling the hover effect
    of events section */
#cityn .events ul li:hover .time {
    background: blue;
}
    
/* Styling the header of time
    class of events section */
#cityn .events ul li .time h2 {
    position: relative;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 40px;
    line-height: 30px;
}
    
/* Styling the texts of time
class of events section */
#cityn .events ul li .time h2 span {
    font-size: 1.5rem;
    /* position: relative; */
}
    
/* Styling the details
class of events section */
#cityn .events ul li .details {
                
    padding: 20px;
    background: #fff;
    box-sizing: border-box;
    width: 70%;
    height: 100%;
    float: left;
}
    
/* Styling the header of the
details class of events section */
#cityn .events ul li .details h3 {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 15px;
}
    
/* Styling the lists of details
class of events section */
#cityn .events ul li .details p {
    position: relative;
    margin: 10px 0 0;
    padding: 0;
    font-size: 12px;
}
    
/* Styling the links of details
class of events section */
#cityn .events ul li .details a {
    display: inline-block;
    text-decoration: none;
    padding: 2px 3px;
    /* border: 1.5px solid #262626; */
    margin-top: 8px;
    font-size: 18px;
    transition: .5s;
}
    
/* Styling the details class's hover effect */
#cityn .events ul li .details a:hover {
    background: #e91e63;
    color: #fff;
    border-color: #e91e63;
}

#weather-section .wrapper {
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    text-align: center;
    grid-auto-rows: 70px;
                
}
    
#weather-section .gridd{
    display: grid;
    grid-template-columns: 40% 60%;
}
    
#weather-section .wrapper > div{
    background: rgb(241, 227, 227);
    padding: 1em;
    text-align: center;
    border: 4px solid blue;
    border-radius: 5px;
    font-size: 10px;
    
}
    

#weather-section .gridd .wrapper .march {
    grid-column: 1/8;
    padding: 15px;
    background-color: beige;
    font-size: 20px;
}

.weather {
    
}

#weather-section .gridd .wrapper #abc {
    background: #e91e63;
    color: white;
}


/* current weather section */
.weather {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180deg, yellow, blue);
    font-size: 2rem;
    font-family: sans-serif;
    color: white;
    height: 470px;
    text-shadow: 4px 4px 5px blue;
  }
  .containerr {
    height: 20rem;
    width: 25rem;
    background-color: rgb(152, 228, 165);
    text-align: center;
    padding-top: 12px;
    border-radius: 16px;
    border: 2px solid rgb(14, 43, 1);
  }

  .temp {
      font-size: 5rem;
  }

